
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * Adapted from Angular sample source. * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<style>
  :host {
    --ded_green: oklch(197 232 108);
    --ded_lightBlue: oklch(58.5 30.8 229.4);
    --ded_dark_blue: oklch(45.3 24.9 228.8);
    --ded_gray: oklch(79.2 3.1 180);


    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);

    --ded_vertical_gradient: linear-gradient(
      180deg,
      var(--ded_dark_blue) 0%,
      var(--ded_lightBlue) 50%,
      var(--ded_green) 100%
    );

    --ded_horizontal_gradient: linear-gradient(
      90deg,
      var(--ded_dark_blue) 0%,
      var(--ded_lightBlue) 50%,
      var(--ded_green) 100%
    );



    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    font-size: 3.125rem;
    color: var(--gray-900);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
    font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
  }

  p {
    margin: 0;
    color: var(--gray-700);
  }

  label {
    color: var(--gray-700);
  }

  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }

  .logo {
    max-width: 9.2rem;
  }

  .content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin-bottom: 3rem;
  }

  .content h1 {
    margin-top: 1.75rem;
  }

  .content p {
    margin-top: 1.5rem;
  }

  .content input{
    margin-top: 1.5rem;
  }

  .divider {
    width: 1px;
    background: var(--ded_vertical_gradient);
    margin-inline: 0.5rem;
  }

  @media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      width: max-content;
    }

    .divider {
      height: 1px;
      width: 100%;
      background: var(--ded_horizontal_gradient);
      margin-block: 1.5rem;
    }
  }
</style>

<main class="main">
  <div class="content">
    <div class="left-side">
      <img
        alt="Logo"
        class="logo"
        height="127.2"
        ngSrc="Dedalus.svg"
        width="375.2"
      />
      <h2>{{ title }}</h2>
      <p>
        <label>Enter Text to be analyzed: </label>
        <input [(ngModel)]="textToBeAnalyzed" />
      </p>
      <p>
        <mat-radio-group> Analyze vowels or consonants?<br>
          <mat-radio-button value="Vowels" (change)="onVowelRadioCheck($event.value)">Vowels</mat-radio-button>
          <mat-radio-button value="Consonants" (change)="onVowelRadioCheck($event.value)">Consonants</mat-radio-button>
        </mat-radio-group>
      </p>

      <p>
        <mat-slide-toggle (change)="onCalcToggleChanged($event)">Analyze text on server?</mat-slide-toggle></p>
      <p>
      <button mat-stroked-button (click)="onAnalyzeButtonClick()" [disabled]="!vowelRadioChecked">Analyze</button>

      <label><h3>Results:</h3></label></p>

      <ul>
        <li *ngFor="let result of results">
          <button mat-button (click)="fillResultDetails(result.results)">
          {{result.checkedString}}
        </button></li>
      </ul>

    </div>

    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <h3>Result Details</h3>
      <table>
        <tr *ngFor="let resultDetail of resultDetails">
          <td>{{ resultDetail }}</td>
        </tr>
      </table>
    </div>

  </div>
</main>
<router-outlet />
